/*CSS DOCUMENT*/

img {
    width: 100%; 
}
/*Please don’t change this CSS stylesheet for the content hierarchy assginment */
<meta name="viewport" content="width=device-width, initial-scale=1.0">

body{
	background-color: #ffffff;
}
footer{
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
}
h1, h2, h3, h4{
    list-style-type: none;
    font-family: sans-serif;
    text-align: center;
    
    color: #8ad5f3;
}
nav ul{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
nav ul li{
    display: inline;
    list-style-type: none;
    margin-right: 3em; 
    font-family: sans-serif;
    text-align: center;
}
nav ul li a{
	text-decoration: none;
	color: #8ad5f3;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.introduction{
	color: #8ad5f3;
    font-family: sans-serif;
	text-align: center;
}

.introduction2{
    font-family: sans-serif;
	text-align: center;
}

ul li {
    list-style-type: none;
    
}

p {
    text-align: center
}
