/* CSS DOCUMENT*/

body {
	background-color: rgb(53, 165, 105);
}

h1 {
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: center;
}

h2 {
	background-color: rgb(255, 255, 255);
	color: rgb(53, 165, 105);
	text-transform: uppercase;
	text-align: center;
}

h3 {
	color: rgb(241, 255, 107);
	text-align: center;
}

h4 {
	list-style-type: none;
	color: rgb(241, 255, 107);
}
