/*CSS document*/

body {
    font-family: serif;
    background: #f3f3f3;
}

div.container {
    max-width: 40em;
    margin: auto;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul li{
    display: inline;
}

nav ul li a{
    margin-right: 0.5em;
    font-weight: 550;
}

nav ul li a:hover{
    color: #FDB913;
}

ul {
    list-style-type: none;
    padding: 0;
}

figure{
    font-style: italic;
    margin: 0;
}

a{
    text-decoration: none;
    color: black
}

h3{
    color: #FDB913;
}