/*CSS document*/

body {
    background: #f3f3f3;
}

div.container {
    max-width: 80em;
    margin: 0 auto;
}

section{
    max-width: 60em;
    margin: 0 auto 3em;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul li{
    display: inline;
}

nav ul li a{
    margin-right: 0.5em;
    font-weight: 550;
}

nav ul li a:hover{
    color: #FDB913;
}

ul{
    list-style-type: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
    font-family: belda-normal, sans-serif;
}

h3{
    color: #FDB913;
    font-family: belda-normal, sans-serif;
}

footer{
    font-family: belda-normal, sans-serif;
}

figcaption {
    font-family: belda-normal, sans-serif;
    font-style: italic;
}

p{
    font-family: belda-normal, sans-serif;
}

h2{
    color: black;
    margin-top: 1em;
    font-family: belda-normal, sans-serif;
}

h1 img{
    width: 6em;
}


/*PHOTO GALLERY*/

div.gallery {
    max-width: 70em;
    margin-top: 3em;
    grid-column: 1/3;
}

figure.gallery{
    width: calc(100% + 1em);
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

main.gallery {
    position: relative;
    padding-bottom: calc(67% + 2.5em);
    overflow: hidden;
    margin-bottom: 1em;
}


nav.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2em;
}

input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1;
}

label{
    flex: 1 0 8em;
}

input{
    display: none;
}


/*NEWSLETTER*/

.formStyle {
    display: block;
    padding: 1em;
    margin-bottom: 2em; 
    font-family: belda-normal, sans-serif;
    width: 60em; 
}

.formButton {
    background-color:crimson;
    display:inline-block;
    padding: 1em 7em;
    margin-top: 2em;
    margin-bottom: 2em;
    text-decoration:none;
    font-family: belda-normal, sans-serif;
    color:aliceblue;
}

.formButton:hover {
    background-color:crimson;
    color: black;
}
    
.formButton:active {
    position:relative;
    top:0.1875em;
}

input::placeholder {
    font-family: belda-normal, sans-serif;
    color: black;
}
    
input:focus {
    outline: none;
    background-color: none
    }
    
.newsletter img {
    object-fit: cover;
    max-width: 60em;
}

h2.newsletter{
    font-family: belda-normal, sans-serif;
    color: black;
    margin-bottom: 2em;
}

div.selection {
    margin-right: 1em;
    display:inline
}
    
.checkbox {
    margin-top: 1em;
    display: inline;
}


@media screen and (min-width: 60em){
    
    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1em;
    }
    
    header {
        grid-column: 1/3;
    }
    
    main {
        grid-column: 1/2;
    }
    
    aside {
        grid-column: 2/3;
    }
    
}

















